ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20em;
}

li {
  margin: 0.5em;
  font-size: 2em;
}

button {
  padding: 0.5em;
}

.wanderlist-countries {
  margin: 0 3em;
}
