<nav>
  <h1 routerLink="/home">Wanderlist</h1>
  <ul>
    <li routerLink="/home" routerLinkActive="active">Home</li>
    <li routerLink="/contact-template" routerLinkActive="active">Driven Form</li>
    <!-- <li (click)="goToTemplate()" routerLinkActive="active">Template-driven</li> -->
    <li routerLink="/contact-reactive" routerLinkActive="active">Reactive Form</li>
    <!-- <li (click)="goToReactive()" routerLinkActive="active">Reactive</li> -->
    <li routerLink="/users" routerLinkActive="active">Admin</li>
  </ul>
</nav>
